.fa-lock {
    font-size: 20px;
    color: salmon;
}

.fa-user-circle {
    font-size: 70px;
    color: rgb(75, 167, 144);
}

.fa-id-card-alt {
    font-size: 20px;
    color: salmon;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}