{{!-- mostramos la barra de navegación --}}
{{> navigation }}
<div class="container mx-auto">
    {{> messages }}
    {{> errors }}
  </div>
<style>
  body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style>
<div class="container mx-auto mt-4 mb-3">
  <div class="col-9 mx-auto mt-5 ">
    {{!-- inicio de la tarjeta --}}
    <div class="card shadow pb-3 mb-3 bg-white rounded">
      <div class="card-header text-center">
        <h3>Nuevo Pedido <i class="fas fa-plus-circle"></i></h3>
      </div>
      <div class="card-body">
        {{!-- INICIO DE FORMULARIO PARA GENERAR NUEVO PEDIDO --}}
        <form action="/orders/new-order" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
          <div>
            <h5>DATOS DEL PRODUCTO</h5>
          </div>
          {{!-- Para elegir el tipo de producto dentro del catálogo ya establecido --}}
          <div class="form-group">
            <label class="my-1" for="product">Producto</label>
            <select class="custom-select" name="product" id="product" required onchange="settype();">
              <option selected disabled value="">Selecciona el tipo de producto</option>
              <option disabled>-----------------------------------</option>
              <option disabled class="font-weight-bold">PRINCIPALES</option>
              <option value="Papel Picado">Papel Picado</option>>
              <option value="Figura de Animal">Figura de Animal</option>
              <option disabled class="font-weight-bold">PLUMONES</option>
              <option disabled class="font-italic">MARCA CRAYOLA</option>
              <option value="Crayola Supertips">SuperTips</option>
              <option value="Crayola Glitter">Alternative Glitter</option>
              <option value="Crayola Metalics ">Alternative Metalics</option>
              <option value="Crayola Permanent">Alternative Permanent</option>
              <option disabled class="font-italic">MARCA STABILO</option>
              <option value="Stabilo Boss">Boss</option>
              <option value="Stabilo Swing Cool">Swing Cool</option>
              <option value="Stabilo Point 88">Point 88</option>
              <option value="Stabilo Rotuladores">Rotuladores</option>
              <option disabled class="font-italic">OTRAS MARCAS</option>
              <option value="Plumones Brush">Brush Economics</option>
              <option value="Plumones Tombow">Tombow Professionals</option>
              <option value="Plumones Artline">Artline Stix</option>
              <option disabled class="font-weight-bold">ORGANIZADORES PARA PLUMONES</option>
              <option value="">Organizador Madera</option>
              <option value="">Organizador Acrílico</option>
              <option disabled class="font-weight-bold">LIBRETAS</option>
              <option value="Libreta Profesional">Profesional</option>
              <option value="Libreta Francesa">Francesa</option>
              <option value="Libreta Italiana">Italiana</option>
              <option value="Libreta Pasta Impresa">Pasta Impresa</option>
              <option disabled class="font-weight-bold">OTROS</option>
              <option value="Rompecabezas">Rompecabezas</option>
              <option value="Llavero">Llavero</option>
              <option disabled></option>
              <option disabled></option>
            </select>
            <div class="invalid-feedback">
              Selecciona el producto del que desees generar el pedido
            </div>
          </div>  
          <input type="hidden" value="" name="tag" id="typep">        
          {{!-- Para ingresar la descripción del producto --}}
          <div class="form-group">
            <label for="product">Descripción</label>
            <textarea class="form-control" name="description" aria-describedby="helpdescription" rows="4" maxlength="200"></textarea>
            <div class="valid-feedback">
              Descripción no válida! ingresa por lo menos una descripción de 5 caracteres
            </div>
            <small id="helpdescription" class="form-text text-muted">
              Agrega la descripción del producto solamente en caso de que sea un producto personalizable, si es el caso, indica las caracteristicas
              que debe tener decho producto.
            </small>
          </div>
          <div class="custom-file mb-5">
            <input type="file" accept="image/png, image/jpg, image/jpeg" class="custom-file-input" id="img" name="img" aria-describedby="helpimg">
            <label class="custom-file-label" for="img">Imagen del producto</label>
            <small id="helpimg" class="form-text text-muted">
              Solo debes subir la imagen en caso de que existan modelos preestablecidos del producto Ej: Papel picado,
              Esferas, etc.
            </small>
            <div class="invalid-feedback">No has seleccionado alguna imagen</div>
          </div>
          <div class="hidden">
            <input type="hidden" name="status" value="warning">
          </div>
          {{!-- boton submit --}}
          <div class="form-group mt-3">
            <button class="btn btn-primary btn-block" type="submit">
              Crear nuevo pedido <i class="fas fa-save"></i>
            </button>
          </div>

        </form>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>

<script>
  function settype(){
    var selection= document.getElementById('product').value;
    let stype;
    if(selection=='Papel Picado' || selection=='Figura de Animal'  || selection=='Libreta Profesional'  || selection=='Libreta Francesa'  || selection=='Libreta Italiana' || selection=='Libreta Pasta Impresa' || selection=='Rompecabezas' || selection=='Llavero' ){
      stype="customizable";
    }else{
      stype="noncustomizable";
    }
    document.getElementById("typep").value = stype;    
  }
</script>
<script>
  (function () {
    'use strict';   
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>