<div class="container mx-auto mt-4 mb-3">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <h1>Recurso no encontrado</h1>
        <p>La pagina que estás buscando no existe</p>
        <a href="/">Regresar a inicio</a>
      </div>
    </div>
  </div>
</div>