<style>
  body {
    background-color: #FF9A8B;
    background-image: linear-gradient(180deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

  }
</style>
<div class="container mx-auto mt-4 mb-3">
  <section class="card">
    <div class="card-body">
      <h1>Conócemos <i class="fas fa-users"></i></h1>
      <img src="https://wannathis.one/static/img_main/img_purchase.png" width="100%">
      <p>
        Pentech es una empresa conformada por un grupo de jovenes emprendedores...
      </p>
    </div>
  </section>
</div>