<div class="container mx-auto mt-4 mb-3">
  <div class="row">
    <div class="col-md-12 offset-md-12">
      <div class="card card-body">
        <h1>{{httperr}}</h1>
        <p>{{descripcion}}</p>
        <div class="row">
          <div class="col-8">
            <div class="text-center">
              <img src="/img/team2.svg" alt="" width="65%" height="50%">
            </div>
          </div>
          <div class="col-4">
            <a class="btn btn-primary" href="javascript:history.back()">Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>