<style>
    body {
        background-image: url('https://images.squarespace-cdn.com/content/v1/5c64519cd7819e5a4b62a726/1551987835069-0ZJUWDSA5H569F220335/ke17ZwdGBToddI8pDm48kBOQXxG3HoTMk1mFu8bffrMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcQAPsjFvgcYruXxCdsOr3LfFPx51ty0i0ey7xyQ0JnjtJE268qqjI9jOefNAgLgT6/Equity+Token+Website+Wave.png?format=2500w');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<div class="animate__animated animate__zoomInUp animate__delay-1s mt-5">
    <div class="row row-cols-2">
        <div class="col-md-2">
            <img src="https://wannathis.one/static/img_main/pose_m31-p-1600.png" height="570px" alt="chico saltandouwu">
        </div>
        <div class="col-md-2 mr-5">
            <img src="https://wannathis.one/static/img_main/pose_f29-p-1600.png" height="550px" alt="chica cool ">
        </div>
        <div class="col-md-6 ml-5">
            <div class="jumbotron">
                <h1 class="display">Sistema de Gestión SOFTTIME</h1>
                <p class="lead">SoftTime es un sistema de gestión de pedidos, horarios y ventas desarrollado por la empresa Pentech</p>
                <hr class="my-4">
                <p>                 
                       
                </p>                
            </div>

        </div>
    </div>
</div>