<div class="container mx-auto mt-4 mb-5">
    <div class="card shadow mb-5 bg-white rounded">
        <div class="card-body">
            <h1 class="card-title align-middle">
                <p class="text-center">
                    POLÍTICAS DE USO
                </p>
            </h1>
            <hr class="mb-5">
            <div class="card-text">
                <div class="col-9 mx-auto">
                    <div class="container mx-auto">
                        <div class="text-justify">
                            <h5 class="mb-2">Al hacer uso de nuestros servicios acepta nuestra política de uso.</h5>
                            <p class="text-break">
                                Conforme a la aceptación de estos términos y condiciones de uso se regula el uso y
                                acceso de
                                nuestros servicios debido a que establecen una relación contractual con usted y Pentech.
                                Si usted
                                rechaza dichos Términos y Condiciones de uso no podrá hacer uso de los servicios
                                brindados por la
                                empresa.
                                <br> Los presentes Términos y Condiciones de uso regulan el acceso o uso que usted haga,
                                como
                                persona, desde los Estados Unidos Mexicanos de la aplicación Soft-Time compuesto por
                                servicios web
                                brindados por Pentech S.A de C.V <br>
                                La empresa es titular de propiedad intelectual de los productos y servicios presentados,
                                cualquier
                                otro contenido es reconocido a favor de un tercero por lo que se publica con previa
                                autorización del
                                titular. Se prohíbe utilizar o vender la información contenida en el sitio, así como la
                                violación a
                                la propiedad intelectual dando lugar a acciones legales. <br>
                                El administrador podrá retirar el acceso a usuarios si estos obtienen su identificación
                                por medios
                                ilegítimos como cuentas de correo falsas o que impidan la verificación de identidad.
                                Pentech no se
                                hace responsable de actos delictivos que violen los derechos de propiedad o la
                                convivencia pacífica
                                en la plataforma, actos que pongan en peligro el orden público, investigación penal,
                                seguridad
                                pública y la defensa nacional.
                                Tampoco se hace responsable de alteraciones por malware derivados de páginas enlazadas.
                                <br>
                                Pentech podrá poner fin de inmediato a estos Términos y Condiciones o cualquiera de los
                                Servicios
                                respecto de usted o, en general, dejar de ofrecer o denegar el acceso a los Servicios o
                                cualquier
                                parte de ellos, en cualquier momento, por lo que nos reservamos el derecho de brindar
                                nuestro
                                servicio. Se podrán aplicar condiciones suplementarias a determinados servicios, como
                                políticas para
                                una promoción particular, y dichas condiciones suplementarias se le comunicarán en
                                relación con los
                                Servicios aplicables. Las condiciones suplementarias se establecen además de los
                                Términos y
                                Condiciones, y se considerarán una parte de estas, para los fines de los servicios
                                aplicables. <br>
                                Pentech podrá modificar los Términos y Condiciones relativos a los servicios brindados
                                cuando lo
                                considere oportuno. Las modificaciones serán efectivas después de la publicación por
                                parte de
                                Pentech de dichos Términos y Condiciones actualizadas o las políticas modificadas o
                                condiciones
                                suplementarias sobre el Servicio aplicable. Su acceso o uso continuado de los Servicios
                                después de
                                dicha publicación constituye su consentimiento a vincularse por los Términos y
                                Condiciones y sus
                                modificaciones. En dado caso de que usted decida terminar con la relación de uso de
                                nuestros
                                servicios podrá hacerlo, usted tiene la capacidad de eliminar la cuenta y sus datos
                                personales
                                proporcionados a lo largo de su uso. <br>
                                La recopilación y el uso de la información personal recabada por Pentech respecto al uso
                                de nuestros
                                servicios se efectúa de acuerdo con nuestra <a href="/privacy">política de
                                    privacidad.</a> <br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4 mb-3">
</div>
<div class="text-center mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-text">
                    <p>Copyright &copy; 2021 Pentech</p>
                </div>
            </div>
        </div>
    </div>
</div>