<div class="container mx-auto mt-4 mb-5">
    <div class="card shadow mb-5 bg-white rounded">
        <div class="card-body">
            <h1 class="card-title align-middle">
                <p class="text-center">
                    AVISO DE PRIVACIDAD
                </p>
            </h1>
            <hr class="mb-5">
            <div class="card-text">
                <div class="col-9 mx-auto">
                    <div class="container mx-auto">
                        <div class="text-justify">
                            <h5 class="mb-2">Al hacer uso de nuestros servicios acepta nuestra <a
                                    href="/politics">política de uso.</a> </h5>
                            <p class="text-break">
                                Conforme a lo establecido en la Ley Federal de Protección de Datos en Posesión de
                                Particulares,
                                la empresa Pentech con domicilio en Ciudad de México presenta el siguiente aviso de
                                privacidad correspondiente al sistema SoftTime.
                                <br>
                            <ul>
                                <li>
                                    <p class="font-italic">
                                        Información recopilada.
                                    </p>
                                    <ul>
                                        <li>La información solicitada a nuestros clientes para el uso del servicio es:
                                            <ol type="I">
                                                <li>Nombre, Apellido, correo electrónico y teléfono. </li>
                                            </ol>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p class="font-italic">
                                        Uso de cookies.
                                    </p>
                                    <ul>
                                        <li>
                                            Algunas cookies son utilizadas en el sistema para obtener datos información
                                            de su
                                            navegador y
                                            sistema operativo, datos usados para la realización de estadísticas y la
                                            optimización
                                            del servicio.
                                            El sistema después de 90 minutos cerrará la sesión del usuario, esto por un
                                            tema de
                                            seguridad.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p class="font-italic">
                                        Medios para ejercer sus derechos ARCO.
                                    </p>

                                    <ul>
                                        <li>
                                            <strong>De acceso.</strong><br>
                                            Los datos que recopilamos de los usuarios son los mencionados en la sección
                                            anterior.
                                        </li>
                                        <li>
                                            <strong>De rectificación.</strong><br>
                                            La actualización de datos del usuario se realizará por medio del sistema
                                            mismo en
                                            la sección del administrador perteneciente al apartado "Mi equipo" de
                                            acuerdo a los
                                            siguientes criterios:
                                            <ol type="I">
                                                <li>
                                                    Todo cambio debe ser solicitado al administrador el cual procesará
                                                    la orden para
                                                    la actualización y/0 corrección de los datos solicitados por el
                                                    usuario.
                                                </li>
                                                <li>
                                                    El nombre solo se puede modificar una vez.
                                                </li>
                                                <li>
                                                    El nombre de usuario tambien conocido como "Username" no se podra
                                                    modificar
                                                    debido a que es el identificador para ingresar al sistema.
                                                </li>
                                                <li>
                                                    El correo electrónico se puede cambiar una vez.
                                                </li>
                                                <li>
                                                    El numero telefónico se puede cambiar las veces necesarias.
                                                </li>
                                                <li>
                                                    La contraseña se puede cambiar más de una vez en caso de que el
                                                    usuario la haya
                                                    olvidado.
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <strong>De cancelación.</strong><br>
                                            La eliminación de datos de usuario se realizará por medio del sistema mismo
                                            en
                                            la sección del administrador perteneciente al apartado "Mi equipo" de
                                            acuerdo a los
                                            siguientes criterios:
                                            <ol type="I">
                                                <li>
                                                    Todo cambio debe ser solicitado al administrador el cual procesará
                                                    la orden para
                                                    la actualización y/0 corrección de los datos solicitados por el
                                                    usuario.
                                                </li>
                                                <li>
                                                    La cuenta completa puede ser eliminada en su totalidad dentro del
                                                    sistema.
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <strong>De oposición.</strong><br>
                                            Ningún dato brindado por el usuario será usado para fines distintos a la
                                            prestación
                                            del servicio.
                                        </li>
                                        <li>
                                            <strong>Transferencia de datos personales.</strong><br>
                                            La empresa Pentech actualmente se abstiene de de brindar datos personales de
                                            los
                                            usuarios a terceros para el uso de cualquier servicio integrado dentro del
                                            sistema.
                                        </li>
                                        <li>
                                            <strong>Medios para limitar el uso de sus datos.</strong><br>
                                            De acuerdo a los puntos mencionados anteriormente, los datos son unica y
                                            exclusivamente
                                            utilizados con fines de organización en lo que respecta a la funcionalidad
                                            del sistema.
                                        </li>
                                        <li>
                                            <strong>Cambios al aviso de privacidad.</strong><br>
                                            En caso de que el presente aviso de privacidad sea modificado, se notificará
                                            al usuario
                                            por medio de
                                            la página y su correo electrónico.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4 mb-3">
</div>
<div class="text-center mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-text">
                    <p>Copyright &copy; 2021 Pentech</p>
                </div>
            </div>
        </div>
    </div>
</div>