<div class="container">
  <hr class="bg-dark">
</div>
<br>
<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-5 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <h3>Sobre Nosotros</h3>
          <p>
            Pentech es una empresa de desarrollo de software especializada en desarrollo de aplicaciones web. <a href="/about"><strong>Más Información</strong></a>

          </p>
          <div class="row">
            <div class="col-3">
              <p><a class="alert-link" href="/politics" target="_blank"><i class="fas fa-book"></i> Políticas</a></p>
            </div>
            <div class="col">
              <p><a class="alert-link" href="/privacy" target="_blank"><i class="fas fa-info-circle"></i> Aviso de
                  Privacidad</a></p>
            </div>
          </div>
          <p>© Pentech</p>
        </div>
        <div class="col-md-3 offset-md-1 footer-contact wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown;">
          <h3>Contacto</h3>
          <p><i class="fas fa-map-marker-alt"></i> Mar Mediterráneo 227, 11400 CDMX, México</p>
          <p><i class="fas fa-phone"></i> Telefono: (+52) 55 5555 5555</p>
          <p><i class="fas fa-envelope"></i> Email: <a href="mailto:pentech9n@gmail.com">pentech9n@gmail.com</a></p>
        </div>
        <div class="col-md-2 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <div class="row">
            <div class="col">
              <h3>Redes Sociales</h3>
            </div>
          </div>
          <div class="row">
            <div class="col footer-social">
              <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
              <a href="https://www.google.com"><i class="fab fa-google-plus-g"></i></a>
              <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
              <a href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>