<nav class="navbar  fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/admin/welcome">      
      TWOC/DB
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{!-- Si existe un usuario --}}
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Equipo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/query/my-team"><i class="fas fa-users"></i> Mi equipo</a>
            <a class="dropdown-item" href="/admin/signup"><i class="fas fa-user-plus"></i> Añadir Integrante</a>
          </div>
        </li>                
        <li class="nav-item">
          <a class="nav-link" href="/query/filter/orders-admin"><i class="fas fa-search"></i> Consultas</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Salir <i class="fas fa-sign-out-alt"></i></a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/signin">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>