<div class="card mx-auto shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <h1>¡Actualmente no tienes ningun dato para consultar!</h1>
        <hr>
        <div class="row">
            <div class="col-4">
                <p>
                    Intenta probando con otro Filtro
                </p>
                {{>filters-user}}
            </div>
            <div class="col-8">
                <div class="text-center">
                    <img src="/img/team2.svg" alt="" width="65%" height="50%">
                </div>
            </div>
        </div>
    </div>
</div>