<style>
  
  #headeruwu,hr { color: #310273; }
  #headerxd { color: #272B2E; }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

{{>nav-admin}}
<div class="container mx-auto">
    {{> messages }}
    {{> errors }}
  </div>
<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777" />          
          <!-- PARA AGREGAR LA IMAGEN DE FONDO -->
          <img src="/img/uwu1.png">                    
        </svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 id="headeruwu">¿DESEAS CREAR UN PEDIDO?</h1>
            <p id="headerxd">Lo recomendado es crear un pedido para sacar provecho a nuestro sistema</p>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777" />
        <!-- PARA AGREGAR LA IMAGEN DE FONDO 2-->
        <img src="/img/uwu2.jpg">
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1 id="headeruwu">MODIFICA TUS PEDIDOS</h1>
            <p id="headerxd">Por si algo no quedo del todo bien</p>
            <br><br>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777" />
          <!-- PARA AGREGAR LA IMAGEN DE FONDO 3-->
          <img src="/img/uwu3.1.png">
        </svg>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1 id="headeruwu">CREA TU PROPIO CALENDARIO</h1>
            <p id="headerxd">Y administra tu tiempo de la mejor manera</p>
            <br><br>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Crear</title>
          <circle cx="60" cy="60" r="45" style="stroke: #660000; fill: #cc0000" />
          <circle cx="84" cy="60" r="45" style="stroke: #000066; fill: #0000cc" fill-opacity: 0.5/>
        </svg>
        <h2>Crea tu pedido</h2>
        <p>Puedes agregar una descripción, el nombre del producto y además de una imagen para que el cliente
        tenga más detalles del pedido</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">        
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Crea</title>
          <ellipse cx="65" cy="65" rx="45" ry="35" style="stroke: #ff0000; stroke-width: 5; fill: none;"/>
          <ellipse cx="75" cy="75" rx="45" ry="34" style="stroke: #0000ff; stroke-width: 5; stroke-opacity: 0.5; fill: none; "/>
        </svg>
        <h2>Modifica pedidos</h2>
        <p>Puedes modificar los productos por si algun dato fue mal ingresado, o por si el cliente necesita
        otras necesidades del pedido</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Modifica</title>
          <circle cx="65" cy="65" r="45" style="stroke:#006600; stroke-width: 3; stroke-dasharray: 10 5; fill:#00cc00"/>
        </svg>
        <h2>Crea un calendario</h2>
        <p>Además de crear pendientes dentro de este calendario, permite saber donde y cuando será entregadp dicho pendiente
        o pedido</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">También puedes consultar los pedidos.<span class="text-muted"> Además de poder filtrarlos. </span>
        </h2>
        <p class="lead">Además de esto, también poder buscarlos, y el sistema les agrega un estatus por el cual puede ser filtrada dicha busqueda.</p>
      </div>
      <div class="col-md-5">
        <img src="/img/consultar.png" height="420px" width="420px">        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Elimínalos. <span class="text-muted"> Si es que ya no son necesarios los pedidos.</span></h2>
        <p class="lead">Si es que se cancela un pedido, o nunca se llevo a acabo puedes eliminarlos de manera muy sencilla
        y rápida.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/img/eliminar.png" height="420px" width="450px">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <!-- <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text> -->
        </svg>
      </div>
    </div>
    <p class="float-right text-white"><a href="#">REGRESAR AL INICIO</a></p>
    <br>
  </div><!-- /.container -->

</main>

{{>footer}}