{{>nav-admin}}
<div class="container mx-auto mt-4 mb-3">
  <br>
  <hr>
  <H1>PAGINA DE BIENVENIDA UWU</H1>
  <br>

  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2000">
        <img src="/img/1.png" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="/img/2.png" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="/img/bg.png" class="d-block w-100" alt="">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>

  <br>
  <hr>
  <br>

</div>